.form-register, 
.form-ingridient {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    padding: 2.5rem 3rem;
    gap: 1.5rem;
    border-radius: 10px;
    div {
        display: flex;
        flex-direction: column;
    }
    input {
        padding: 0.5rem;
    }
    button {
        padding: 0.5rem;
        border-radius: 8px;
        border: 1px solid silver;
        font-weight: 700;
    }
    span {
        color: red;
        text-align: center;
    }
    .ingridients {
        display: flex;
        flex-direction: row;
    }
}